@import '_vars';

body {
    font-family: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    line-height: 1;
    font-size: 16px;
    background-color: var(--c-bg-1);
    color: var(--c-text-primary);
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

body, div, span, h1, h2, h3, h4, h5, h6, 
dl, dt, dd, ol, ul, li, form, button {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
}

ol, ul {
	list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

button {
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    cursor: pointer;
}

.btn-type-1 {
    background-color: var(--c-accent);
    color: #fff;
    border-radius: var(--border-radius-btn);
    transition: background-color .2s;

    &:hover {
        background-color: var(--c-blue-hover);
    }
}

.btn-type-2 {
    background-color: var(--c-grey);
    color: #fff;
    border-radius: var(--border-radius-btn);
    transition: background-color .2s;

    &:hover {
        background-color: var(--c-grey-hover);
    }
}

.container {
    margin: 0 24px;

    @media (max-width: 768px) {
        margin: 0 var(--content-padding-table);
    }

    @media (max-width: 425px) {
        margin: 0 var(--content-padding-phone);
    }

}
