.auth {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 15px;

    
    

    .form {
        position: relative;
        padding: 30px 20px;
        width: 100%;
        max-width: 350px;
        background-color: var(--c-bg-2);
        border-radius: var(--border-radius-block);
        box-shadow: var(--block-shadow);

        &__head-message {
            position: absolute;
            top: -50px;
            left: 0;
            padding: 10px 20px;
            background-color: var(--c-bg-2);
            border-radius: var(--border-radius-block);
        }

        
        &__title {
            margin-bottom: 15px;
            font-size: 31px;
            line-height: 36px;
            font-weight: 700;
        }
    
        &__input-wrapper {
            position: relative;
            margin: 15px 0;
            margin-top: 30px;      
        }
        
        &__bar {
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            background-color: var(--c-blue);
            height: .1em;
            transition: .3s;
        }

        &__error {
            position: absolute;
            top: -16px;
            right: 0;
            color: red;
            font-size: 13px;
        }
    
        &__input {
            padding: 2px 1px;
            padding-right: 30px;
            width: 100%;
            border: none;
            border-bottom: .1em solid var(--c-border);
            background-color: var(--c-bg-2);
            color: inherit;
            outline: none;
            font: inherit;
            box-sizing: border-box;
    
            &:focus,
            &.filled {
                & ~ .form__input-label {
                    top: -16px;
                    font-size: 13px;         
                }
            }
            
            &:focus {
                & ~ .form__input-label {
                    color: var(--c-blue);
                }
    
                & ~ .form__bar {
                    left: 0;
                    width: 100%;
                }         
            }
        }
    
        &__input-label {
            position: absolute;
            top: 6px;
            left: 1px;
            font-size: 16px;
            color: var(--c-text-secondary);
            pointer-events: none;
            transition: .3s;
        }
    
        &__checkbox-wrapper {
            margin-bottom: 15px;
            margin-top: 25px;
        }
        
        &__checkbox-label {
            display: flex;
            align-items: center;
            cursor: pointer;
    
            input[type="checkbox"] {
                cursor: pointer;
            }
        }
    
    
        &__submit {
            margin-top: 12px;
            min-height: 52px;
            width: 100%;
            // font-size: 16;
            font-weight: 700;
        }
    }
    
    &__links-area {
        margin-top: 15px;
        max-width: 350px;
        text-align: center;
    }
    
    &__link {
        display: block;
        margin: 10px 0;
        color: var(--c-blue);
        line-height: 1.4;
    }
}
